<div class="box hostcard">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <a href="{{ url_for('host', ip=host.ip)  }}"><strong>{{ host.name }}</strong></a>

                    <small>
                        {% if host.isup is none %}
                        <span class="icon">
                            <i class="fas fa-question"></i>
                        </span>
                        {% elif host.isup %}
                        <span class="icon has-text-success">
                            <i class="fas fa-plug"></i>
                        </span>
                        {% else %}
                        <span class="icon has-text-danger">
                            <i class="fas fa-plug"></i>
                        </span>
                        {% endif %}
                    </small>

                    <small>
                    <button title="ping" class="button is-small" onclick="doPing('{{ host.ip }}')">
                        <i class="fas fa-satellite-dish"></i>
                    </button>
                    </small>

                    <small>
                    <button title="nmap" class="button is-small" onclick="doNmap('{{ host.ip }}')">
                        <i class="fas fa-eye"></i>
                    </button>
                    </small>

                    <small>
                    <button class="button is-small" title="screenshot" onclick="doScreenshot('{{ host.ip }}')">
                        <i class="fas fa-camera"></i>
                    </button>
                    </small>

                    <p>
                        <small>({{ host.ip }})</small>
                        <small>Last Scan: {{ moment(host.last_scan).fromTime(now) }}</small>
                    </p>

                    <br>
                    {% if host.os %}
                    <p>OS: {{ host.os }} - {{ host.os_acc }}%</p>
                    {% else %}
                    <p>OS: Unknown</p>
                    {% endif %}

                    {% if host.notes and host.notes|length %}
                    <textarea class="textarea is-small" readonly>{{ host.notes }}</textarea>
                    {% endif %}
                </p>
            </div>

            <nav class="level is-mobile">
                <div class="level-left">

                    <div class="table-container">
                    <table class="table">
                    <thead>
                    <tr>
                        <th>Port</th>
                        <th>Service</th>
                    </tr>
                    </thead>
                    <tbody>
                        {% for service in host.services %}
                            {% if service.name and service.name|length %}
                                {% set displayedname = service.name %}
                                {% set protocol = service.name %}
                            {% else %}
                                {% set displayedname = 'Unknown' %}
                                {% set protocol = 'http' %}
                            {% endif %}
                            <tr>
                                <td><a class="level-item"
                                       href="{{protocol}}://{{ host.ip }}:{{service.port}}">{{service.port}}
                                </a></td>
                                <td>{{ displayedname }}</td>
                            </tr>
                    {% endfor %}
                    </tbody>
                    </table>
                    </div>


                    {% for port in host.ports %}

                    {% endfor %}

                </div>
            </nav>
        </div>
    </article>
</div>