<div class="box hostcard">
    <article class="media">
        <div class="media-left">
            <figure class="image is-64x64">
                <img src="https://bulma.io/images/placeholders/128x128.png" alt="Image">
            </figure>
        </div>
        <div class="media-content">
            <div class="content">
                <p>
                    <a href="{{ url_for('host', ip=host.ip)  }}"><strong id="{{host.ip}}::name">{{ host.name }}</strong></a>

                    <small>
                    <button onclick="makeNameEditable('{{ host.ip }}')"><i class="fas fa-edit"></i></button>
                    </small>

                    <small>({{ host.ip }})</small>
                    <small>
                        
                        
                        {% if host.isup is none %}
                        <span class="icon">
                            <i class="fas fa-question"></i>
                        </span>
                        {% elif host.isup %}
                        <span class="icon has-text-success">
                            <i class="fas fa-plug"></i>
                        </span>
                        {% else %}
                        <span class="icon has-text-danger">
                            <i class="fas fa-plug"></i>
                        </span>
                        {% endif %}
                    </small>

                    <small>
                    <button onclick="doPing('{{ host.ip }}')">Ping</button>
                    </small>

                    <small>
                    <button onclick="doNmap('{{ host.ip }}')">Nmap</button>
                    </small>

                    <small>
                    <button onclick="doScreenshot('{{ host.ip }}')">Screenshot</button>
                    </small>

                    <small>
                        <p>Last Scan: {{ moment(host.last_scan).fromTime(now) }}</p>
                    </small>

                    <br>
                    {% if host.os %}
                    <p>OS: {{ host.os }} - {{ host.os_acc }}%</p>
                    {% else %}
                    <p>OS: Unknown</p>
                    {% endif %}

                    {% if host.notes and host.notes|length %}
                    <textarea class="textarea is-small" readonly>{{ host.notes }}</textarea>
                    {% endif %}
                </p>
            </div>
            <small>Open ports:</small>
            <nav class="level is-mobile">
                <div class="level-left">

                    {% for port in host.ports %}
                    <a class="level-item" href="http://{{ host.ip }}:{{port}}">{{port}}</a>
                    {% endfor %}

                </div>
            </nav>
        </div>
    </article>
</div>